@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

header h1 {
  font-weight: 600;
  color: #000;
  text-align: center;
  font-size: 2rem;
}

header p {
  text-align: center;
  color: #9fabb2;
  font-size: 1rem;
  font-weight: 400px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  text-align: center;
  width: 45%;
  font-size: 20px;
  padding: 5px;
}

button {
  border: none;
  border-radius: 30px;
  padding: 10px 50px;
  color: #fff;
  font-weight: 400;
  margin: 30px;
  cursor: pointer;
  font-size: 20px;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-cyan {
  background-color: #26baa4;
  -webkit-box-shadow: 0px 5px 10px 0px #84f0e0;
          box-shadow: 0px 5px 10px 0px #84f0e0;
}

.btn-cyan:hover {
  background-color: #84f0e0;
}

.btn-blue {
  background-color: #6173ff;
  -webkit-box-shadow: 0px 5px 10px 0px #8792e4;
          box-shadow: 0px 5px 10px 0px #8792e4;
}

.btn-blue:hover {
  background-color: #8792e4;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

section h2 {
  color: #000;
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
}

section p {
  color: #9fabb2;
  font-size: 1.2rem;
  font-weight: 400px;
  text-align: center;
}

.section-1,
.section-3 {
  margin-top: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.text-paragraph {
  padding: 10px 0;
  width: 50%;
}

.section-2 {
  margin: 0 3rem;
}

.section-2 .right-side {
  margin: 0 3rem;
  width: 50%;
}

.section-2 .right-side h3 {
  font-size: 20px;
  font-weight: 600;
}

.section-2 .right-side p {
  text-align: left;
  width: 90%;
}

.right-side div {
  margin-bottom: 20px;
}

.section-5, .section-8 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
}

.section-5 h2 {
  font-size: 1.6rem;
}

.section-5 p {
  font-size: 20px;
}

.computer-images img {
  height: 450px;
  margin: 3rem;
}

.section-6 {
  width: 100%;
  padding: 30px;
}

.section-6 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
}

.section-6 h3 {
  text-align: center;
  font-size: 1.5rem;
}

.section-6 p {
  font-size: 16px;
  text-align: center;
}

.section-7 img {
  padding: 40px;
}

.section-8 p {
  width: 60%;
}

footer {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 10px;
}

footer a {
  text-decoration: none;
  color: #9fabb2;
  font-size: 16px;
  font-weight: 400;
}

footer a:hover {
  color: #26baa4;
}

footer li {
  list-style-type: none;
}

.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.social-icons svg {
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: contain;
  }
  header h1 {
    font-size: 2.4rem;
  }
  header p {
    font-size: 1.3rem;
    padding: 10px;
    margin-bottom: 1rem;
    text-align: center;
  }
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: -1;
  }
  button {
    padding: 12px 120px;
  }
  section {
    display: block;
  }
  section h2 {
    font-size: 2rem;
  }
  section p {
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
  }
  .paragraph {
    width: 100%;
  }
  .text-paragraph {
    width: 100%;
  }
  .section-1 {
    margin-top: 6rem;
  }
  .section-2 .right-side {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-side div {
    margin-bottom: 20px;
  }
  .right-side p {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  .right-side h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .section-5, .section-6 {
    margin-top: 2rem;
  }
  .section-6 svg {
    padding-bottom: 30px;
  }
  .section-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .section-6 div {
    width: 100%;
  }
  .section-6 h3 {
    width: 100%;
  }
  .section-6 p {
    width: 90%;
  }
  .section-7 {
    padding: 40px;
    margin: 0 5rem;
  }
  .section-8 {
    padding: 0 10px;
  }
  .section-8 p {
    width: 90%;
  }
  .clipboard-header h3 {
    font-size: 1.7rem;
  }
  .computer-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .computer-images img {
    height: 300px;
    margin: 2rem 0;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
    padding-top: 4rem;
  }
  .footer-links {
    display: block;
    padding-top: 10px;
  }
  .footer-links div li {
    text-align: center;
    font-size: 1.5rem;
  }
  .social-icons {
    padding-top: 10px;
  }
  .social-icons svg {
    padding-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */